<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KKZDTMP');</script>
<!-- End Google Tag Manager -->
<meta charset="utf-8">
<meta name="Description" content="MineColonies is a town building mod that allows you to create your own thriving Colony within Minecraft!">
<meta name="Keywords" content="minecolonies,minecraft,minecraft mod,1.12,1.14,minecraft schematics,schematics minecraft,minecraft buildings,minecraft forge,minecraft server,minecraft mods,town building,minecraft colony,minecraft colonies,colony,colonies">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="theme-color" content="#4715A7">
<meta property="og:title" content="Minecolonies">
<meta property="og:description" content="MineColonies is a town building mod that allows you to create your own thriving Colony within Minecraft!">
<meta property="og:type" content="website">
<meta property="og:url" content="https://minecolonies.com">
<meta property="og:image" content="https://minecolonies.com/images/icon_townhallbook.png">
<!-- Use the title from a page's frontmatter if it has one -->
<title><%= current_page.data.title || "MineColonies" %></title>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />

<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<!-- Page Styles -->
<%= stylesheet_link_tag "styles" %>