<!-- HEADER -->
<div class="container">
  <p class="header">Minecolonies</p>
</div>
<!-- /HEADER -->
<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<!-- Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-default main">
  <div class="container">
    <button class="navbar-toggler" type="button" id="navbarSideButton" aria-expanded="false"
            aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="https://forum.minecolonies.com" class="nav-link">Forums</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link">About The Mod</a>
        </li>
        <li class="nav-item ">
          <a href="/team" class="nav-link">Our Team</a>
        </li>
        <li class="nav-item">
          <a href="https://wiki.minecolonies.com/" class="nav-link">Wiki</a>
        </li>
        <li class="nav-item">
          <a href="/competitions" class="nav-link">Competitions</a>
        </li>

        <li class="nav-item">
          <a href="https://github.com/Minecolonies/minecolonies/issues/new" class="nav-link">Bug Reports</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="https://www.patreon.com/bePatron?u=3239371" class="nav-link"><i class="fab fa-patreon"
                                                                                   style="color: #f96854;"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://www.youtube.com/user/MrPMardle" class="nav-link"><i class="fab fa-youtube"
                                                                               style="color: #ff0000;"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://discord.gg/gA7T6ma" class="nav-link"><i class="fab fa-discord"
                                                                   style="color: #7289da;"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/minecoloniesmod" class="nav-link"><i class="fab fa-twitter"
                                                                            style="color: #1da1f2;"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://reddit.com/r/minecolonies" class="nav-link"><i class="fab fa-reddit-alien"
                                                                          style="color: #ff4500;"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- /NAVBAR -->