<!doctype html>
<html lang="en">

<head>
  <%= partial "layouts/header.erb" %>
</head>

<body>
<div class="bg">
  <div class="bgscroll">
    <%= partial "layouts/navbar.erb" %>
    <%= yield %>
  </div>
</div>
</body>

</html>